img {
  position: relative;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
  /* font-family: 'Sulphur Point', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Maven Pro', sans-serif; */
}

p {
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
}

.absolute-container {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 300px;
}

.image-cover {
  width: 100%;
  filter: brightness(60%);
}