section {
  padding-bottom: 80px;
}

/* img {
  position: relative;
} */
p {
  font-family: 'Ubuntu', sans-serif;
  /* font-family: 'Titillium Web', sans-serif; */
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 20px;
}

.cover {
  display: flex;
  justify-content: center;
  max-width: 100%;
  filter: brightness(75%);
}

/* .text {
  position: absolute;
  text-align: center;
} */
.head1-bigger {
  color: #284779;
  text-align: center;
  padding-top: 60px;
}

button {
  display: flex;
  justify-content: center;
}

h2 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

/* .about {
  background-color: black;
} */
.hireButton {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #4AAAE1;
  color: white;
  border-radius: 5px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 80px;
}

.b {
  text-align: center;
  color: black;
}

.whiteText {
  color: white;
  font-size: 13px;
}

.icons {
  padding-top: 30px;
}

.skillsPic {
  padding-top: 100px;
  width: 100%;
}

.parallax {
  position: relative;
  /* The image used */
  background-image: url("/css/l.png");
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(75%);
}

.textOnImage {
  position: absolute;
}

.skill-paddings {
  padding-top: 85px;
}

.square-shape {
  display: inline-block;
  float: right;
  margin-top: 180px;
  margin-right: 20px;
  height: 250px;
  width: 60px;
  border-radius: 4px;
  background-color: orange;
}

.m {
  margin: 0 auto;
  text-align: center;
}

.right {
  text-align: right;
}

#services {
  background-color: #4DAED9;
}

.darker {
  position: absolute;
  filter: brightness(65%);
}

.watch-image {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  border: solid 15px pink;
}

.last-image {
  max-width: 100%;
}

footer {
  text-align: center;
  background-color: #25549C;
  color: white;
  width: 100%;
  padding: 20px;
  padding-top: 35px;
}