section {
  padding-bottom: 80px;
}

img {
  position: relative;
}

p {
  font-family: 'Ubuntu', sans-serif;
  /* font-family: 'Titillium Web', sans-serif; */
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  padding-bottom: 20px;
  animation;
  flash;
}

.cover {
  display: flex;
  justify-content: center;
  width: 100%;
  filter: brightness(60%);
}

/* .text {
  position: absolute;
  text-align: center;
} */
.head1-bigger {
  color: #284779;
  text-align: center;
  padding-top: 30px;
}

/* button {
  display: inline-block;
  text-align: center;
} */
h2 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  position: absolute;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
}

.align-center {
  text-align: center;
}

.center-block-element {
  display: inline-block;
  text-align: center;
}

.absolute-container {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 300px;
}

.intro-background-name {
  border: solid 2px #4AAAE1;
}

.intro-background-name .intro-title {
  font-size: 50px;
  text-align: center;
  color: white;
  padding-top: 22px;
  /* background-color: white; */
}

.intro-subtitle {
  font-size: 55px;
  text-align: center;
  color: white;
}

.intro-btn {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Ubuntu', sans-serif;
}

.about-hire-button {
  display: inline-block;
  text-align: center;
  background-color: #4AAAE1;
  color: white;
  border-radius: 5px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 80px;
}

.b {
  text-align: center;
  color: black;
}

.whiteText {
  color: white;
  font-size: 13px;
}

.about-icons {
  padding-top: 30px;
}

.skillsPic {
  padding-top: 100px;
  width: 100%;
}

.parallax {
  position: relative;
  /* The image used */
  background-image: url("/css/l.png");
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: brightness(75%); */
}

.background-dark {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.50);
}

.textOnImage {
  position: absolute;
}

.skill-paddings {
  padding-top: 85px;
}

.square-shape {
  display: inline-block;
  float: right;
  margin-top: 180px;
  margin-right: 20px;
  height: 250px;
  width: 60px;
  border-radius: 4px;
  background-color: orange;
}

.switches {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.switch-buttons {
  padding: 7px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 7px;
  border: solid 4px #4DAED9;
  font-family: 'Ubuntu', sans-serif;
}

.switch-buttons:hover {
  background-color: #4DAED9;
  color: white;
  transition: 0.3s;
}

.project-titles {
  padding-top: 20px;
  padding-left: 10px;
  font-size: 17px;
  letter-spacing: 3px;
}

.project-paragraphs {
  color: grey;
  padding-left: 10px;
  padding-bottom: 10px;
}

.m {
  margin: 0 auto;
  text-align: center;
}

.right {
  text-align: right;
}

#services {
  background-color: #4DAED9;
}

.darker {
  position: absolute;
  filter: brightness(65%);
}

.services-img-watch {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  border-radius: 50%;
  border: solid 15px pink;
}

.services-placement-left {
  float: left;
  padding-top: 195px;
}

.services-placement-right {
  float: right;
  padding-top: 195px;
}

div .services-titles {
  font-size: 25px;
  color: white;
  font-weight: lighter;
  padding-top: 20px;
}

.last-image {
  max-width: 100%;
  border-radius: 10px;
}

footer {
  text-align: center;
  background-color: #25549C;
  color: white;
  width: 100%;
  padding: 20px;
  padding-top: 35px;
}