section {
  padding-bottom: 120px;
}

img {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  max-width: 100%;
  height: auto;
  width: auto;
}

/* .text {
  position: absolute;
  text-align: center;
} */
h1 {
  color: #284779;
  text-align: center;
}

/* .about {
  background-color: black;
} */
.hireButton {
  margin: 0 auto;
  text-align: center;
  background-color: #4AAAE1;
  color: white;
  border-radius: 5px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 80px;
}

.fillGreeen {
  background-color: #8ECDC2;
}

.fillPink {
  background-color: #E28AA0;
}

.fillBlue {
  background-color: #8EC9F5;
}

.whiteText {
  color: white;
  font-size: 13px;
}

.skillsPic {
  padding-top: 100px;
  position: relative;
  width: 100%;
}

.parallax {
  /* The image used */
  background-image: url("/css/l.png");
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.m {
  margin: 0 auto;
  text-align: center;
}

.right {
  text-align: right;
}

.servicesH1 {
  color: white;
}